.row {
	padding: 16px;
	color: #555;
}

.row core-image.round {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 16px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#list a {
  color: inherit;
  text-decoration: inherit;
}

#list paper-ripple {
  color: #00BCD4;
}

p.secondary {
  color: rgba(0, 0, 0, 0.4);
}