img.menuHeader {
	width: 224px;
	margin: 16px 38px 16px 38px;
}

core-menu {
	margin: 0;
	padding: 0;
}

core-menu .separator {
	padding: 16px;
	font-size: 14px;
	border-top: 1px solid #E0E0E0;
}

core-item {
	padding: 0.5em 1em 0.5em 1em;
}

core-item.core-selected {
	color: #00BCD4;
	font-weight: bold;
}

core-item > a > paper-ripple {
	color: #00BCD4;
}


/** Default theme **/

:host /deep/ [not-selectable] {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

:host /deep/ core-header-panel,
:host /deep/ core-scroll-header-panel {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-overflow-scrolling: touch;
}

:host /deep/ core-toolbar {
	font-size: 20px;
	font-weight: 600;
}

:host /deep/ core-toolbar,
:host /deep/ core-image {
	background-color: #00BCD4;
	color: #fff;
}

:host /deep/ paper-button.blend {
	color: #7986CB;
}

:host /deep/ paper-button > core-icon {
    margin-right: 4px;
}

:host /deep/ paper-toast .toast-action {
  color: #EEFF41;
}

:host /deep/ paper-toast {
  right: 12px;
  left: auto;
}


/** Helpers: Layout, visibility **/

:host /deep/ .center {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

:host /deep/ .center-middle {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

:host /deep/ .opaque {
  opacity: 1;
}

:host /deep/ .transparent {
  opacity: 0;
}

:host /deep/ .visible {
  visibility: visible;
}

:host /deep/ .hidden {
  visibility: hidden;
  overflow: hidden;
}


/** Helpers: Animation **/

:host /deep/ [fade] {
  -webkit-transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
