#layout:not([narrow])::shadow [drawer] {
	box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.37);
	background-color: #FFF;
}

img.menuHeader {
	margin: -32px 38px -32px 38px;
	max-height: 255px;
}

core-menu {
	border-top: 1px solid #E0E0E0;
	margin: 0;
	padding: 0;
}

core-menu .separator {
	padding: 16px;
	font-size: 14px;
	border-top: 1px solid #E0E0E0;
}

core-item {
	padding: 0.5em 1em 0.5em 1em;
}

core-item.core-selected {
	color: #00BCD4;
	font-weight: bold;
}

core-item > a > paper-ripple {
	color: #00BCD4;
}

core-animated-pages {
	z-index: 0; /* needed for the drawer to _always_ cover the pages */
}


/** Default theme **/

:host /deep/ [not-selectable] {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

:host /deep/ [selectable] {
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

:host /deep/ core-header-panel,
:host /deep/ core-scroll-header-panel {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-overflow-scrolling: touch;
}

:host /deep/ core-toolbar {
	font-size: 20px;
	font-weight: 600;
}

:host /deep/ core-toolbar,
:host /deep/ core-image {
	background-color: #00BCD4;
	color: #FFF;
}

:host /deep/ paper-button.blend {
	color: #7986CB;
}

:host /deep/ paper-button > core-icon {
    margin-right: 4px;
}

:host /deep/ paper-toast .toast-action {
  color: #EEFF41;
}

:host /deep/ paper-toast {
  right: 12px;
  left: auto;
}

:host /deep/ .paper-card {
  background-color: #FFF;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  border-radius: 2px;
}


/** Helpers: Layout, visibility **/

:host /deep/ .center {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

:host /deep/ .center-middle {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

:host /deep/ .opaque {
  opacity: 1;
}

:host /deep/ .transparent {
  opacity: 0;
}

:host /deep/ .visible {
  visibility: visible;
}

:host /deep/ .hidden {
  visibility: hidden;
  overflow: hidden;
}


/** Helpers: Animation **/

:host /deep/ [fade] {
  -webkit-transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
