/**
 * Common styles that must pierce shadow dom
 */
:host /deep/ [not-selectable] {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

:host /deep/ core-header-panel {
	position: absolute;
	-webkit-overflow-scrolling: touch; 
}

:host /deep/ core-toolbar {
	display: block;
	height: 60px;
	font-size: 20px;
	font-weight: 600;
	line-height: 60px;
}

/**
 * Local styles
 */
img.menuHeader {
	width: 224px;
	margin: 16px 38px 16px 38px;
}

core-menu {
	margin: 0;
	padding: 0;
}

core-menu .separator {
	padding: 16px;
	font-size: 14px;
	border-top: 1px solid #e0e0e0;
}

core-menu, core-menu * {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

core-item {
	padding: 0.5em 1em 0.5em 1em;
}

core-item.core-selected {
	color: #7986cb;
	font-weight: bold;
}

core-item > a > paper-ripple {
	color: #7986cb;
}