core-toolbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  background-color: transparent;
  z-index: 1;
}

.toolbarTitle {
  opacity: 0;
}

#headerimage {
  width: 100%;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.row {
  margin: 16px;
  color: #555;
  font-size: 110%;
}

core-icon.big {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}