:host {
	display: block;
}

[drawer] {
	background-color: #eee;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

[main] {
	display: block;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #eee;
}