core-toolbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
}

.toolbarTitle {
  opacity: 0;
  font-size: 110%;
}

#headerimage {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 0px;
}

.group {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  margin-left: 16px;
  margin-right: 16px;
  position: relative;
}
.item {
  padding: 10px 72px;
  color: rgb(102, 102, 102);
}
.item core-icon {
  position: absolute;
  left: 16px;
  top: 24px;
  color: rgb(33, 33, 33);
}
.double-line-1 {
  margin-top: 5px;
  margin-bottom: 6px;
}
.double-line-2 {
  font-size: 13px;
  line-height: 13px;
  color: rgba(0, 0, 0, 0.4);
}
